<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> Kris's Portfolio </title>

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' crossorigin='anonymous'>
  <link href="css/business-frontpage.css" rel="stylesheet">
  <style>
    body {
      background-color: #D3D3D3
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-info py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 style='font-family:Georgia' class="display-4 text-white mt-5 mb-2">Kris Logemann's Portfolio</h1>
          <p class="lead mb-5 text-white-50">Check Out My Projects!</p>
        </div>
      </div>
    </div>
  </header>

  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2 style='font-family:Georgia'>Full Stack Software Developer</h2>
        <hr size='80'>
        <p>Yo I'm Kris Logemann and I'm an aspiring junior software developer. I'm currently attending San Diego Code School based out of Escondido, CA. You want me to make you a website or a webapp? I gotchu fam, hit me up on the contact page and lets link up and work something out.</p>
        <a class="btn btn-primary btn-lg" href="/contact">Contact Kris</a>
      </div>
      <div class="col-md-4 mb-5">
        <h2 style='font-family:Georgia'>Contact Me</h2>
        <hr>
        <address>
          <strong>My Address</strong>
          <br>14695 Yukon Street
          <br>San Diego, CA 92129
          <br>
        </address>
        <address>
          <abbr title="Phone">Phone:</abbr>
          (858)-997-4199
          <br>
          <abbr title="Email">Email:</abbr>
          krisrlogemann@gmail.com
          <br>
        </address>
      </div>
        <div class="col-md-8 mb-5">
          <h2 style='font-family:Georgia'>Check Out My Other Projects On GitHub!</h2>
          <hr size='80'>
          <p>Im only showcasing a few of my projects here, but everything I've ever worked on is posted up on my GitHub. So if youre curious about what goes on under the hood with these apps give it a look!</p>
          <a class="btn btn-primary btn-lg" href="https://github.com/KrisLogemann">My GitHub</a>
        </div>
    </div>
    <hr size='80'>
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="img-fluid" src="/static/pics/vstda.jpg" alt="">
          <div class="card-body">
            <h4 style='font-family:Georgia' class="card-title">Very Simple Todo App</h4>
            <p class="card-text">This app allows you to add, edit, set priorty, cross out and delete items on a to-do list.</p>
          </div>
          <div class="card-footer">
            <a href="https://kl-vstda.herokuapp.com/" class="btn btn-primary btn-lg btn-block">Check out this project!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="img-fluid" src="/static/pics/CC.jpg" alt="">
          <div class="card-body">
            <h4 style='font-family:Georgia' class="card-title">Change Calculator</h4>
            <p class="card-text">This app allows you to calculate the correct change reuired back after given and input of the amount given and the amount due.</p>
          </div>
          <div class="card-footer">
            <a href="https://kl-change-calculator.herokuapp.com/" class="btn btn-primary btn-lg btn-block">Check out this project!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="img-fluid" src="/static/pics/topspots.jpg" alt="">
          <div class="card-body">
            <h4 style='font-family:Georgia' class="card-title">San Diego Top Spots</h4>
            <p class="card-text">This project provides the top 30 locations of the hottest places to go to here in San Diego.</p>
          </div>
          <div class="card-footer">
            <a href="https://kl-topspots.herokuapp.com/" class="btn btn-primary btn-lg btn-block">Check out this project!</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>