<html>
    <head>
        <title>Kris Thanks You</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <style>
        body {
            background-color: #D3D3D3
        }
        </style>
    </head>
    <body>
        <div class='container'>
        <h1 style='font-family:Georgia'>
            Thank You <%= contact.firstName %> <%= contact.lastName %>!
        </h1>
        <a class="btn btn-primary btn-lg" href="/">Back To The Portfolio</a>
    </div>
    </body>
</html>